<!DOCTYPE html>
<html lang="en">

<%- include("partials/header.ejs") %>

    <body>

        <div class="container">
            <div class="navbar">
                <ul class="navbarUl">
                    <li class="navbarList"><a href="#">Intro</a></li>
                    <li class="navbarList"><a href="#about">About</a></li>
                    <li class="navbarList"><a href="#work">Work</a></li>
                    <li class="navbarList"><a href="#education">Education</a></li>
                    <li class="navbarList"><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="info">
            <div class="leftinfo">
                <div class="img">
                    <img src="./assets/Profile.png" alt="Profile">
                </div>
                <div class="leftinfotxt">
                    <h2>Himanshu</h2>
                    <h3>Web Developer</h3>
                    <p><i class="fa-solid fa-location-dot"></i> New Delhi,India</p>
                </div>

            </div>
            <div class="rightinfo">
                <h4><a href="./assets/Himanshu_Civil_CV.pdf" download="Resume"><i
                            class="fa-solid fa-download"></i>Download
                        CV</a></h4>
            </div>
        </div>

        <div class="links">
            <div class="leftlinks">
                <p><a href="mailto:swamihimanshu78@gmail.com"><i
                            class="fa-solid fa-envelope"></i>Swamihimanshu78@gmail.com</a></p>

            </div>
            <div class="rightlinks">
                <a href="https://www.instagram.com/coffee_pasta" target="_blank"><i
                        class="fa-brands fa-instagram"></i>Instagram</a>
                <a href="https://www.linkedin.com/in/himanshu-swami-iota/" target="_blank"><i
                        class="fa-brands fa-linkedin"></i>LinkedIn</a>
            </div>
        </div>

        <div class="about" id="about">
            <h2>About me</h2>
            <p>Hey, I’m Himanshu — a full-stack web developer with strong skills in JavaScript, Node.js,
                Express.js, PostgreSQL, and RESTful API integration. I graduated from NIT Kurukshetra, but my true
                passion lies in building powerful, real-world web applications.

            </p><br>
            <p>My journey in web design began with a curiosity for how websites work and a desire to create something
                meaningful on the digital canvas. I love solving problems, building things that work, and continuously pushing myself to grow as a developer. I'm actively looking for internship/job opportunities where I can contribute, learn, and build impactful software.
            </p>
        </div>

        <div class="projects" id="work">
            <h2>Some of my Projects</h2>
            <div class="cardContainer">
                <a href="" style="color: black; text-decoration: none;">
                    <div class="card">
                        <div class="cardImg"><img src="/assets/Blog.png" alt=""></div>
                        <div class="carddetails">
                            <h3>Blog Site</h3>
                            <p>Post and Delete Blog Card</p>
                        </div>

                    </div>
                </a>
                <a href="" style="color: black; text-decoration: none;">
                    <div class="card">
                        <div class="cardImg"><img src="assets/ApiProject.png" alt=""></div>
                        <div class="carddetails">
                            <h3>Movie Site</h3>
                            <p>Playing with API</p>
                        </div>

                    </div>
                </a>
                <a href="https://iotacommerce.netlify.app/" target="_blank"
                    style="color: black; text-decoration: none;">
                    <div class="card">
                        <div class="cardImg"><img src="assets/Ecom.png" alt=""></div>
                        <div class="carddetails">
                            <h3>Ecom Site</h3>
                            <p>JavaScript Skills</p>
                        </div>

                    </div>
                </a>
                <a href="https://animated-pixie-371eb3.netlify.app/" target="_blank"
                    style="color: black; text-decoration: none;">
                    <div class="card">
                        <div class="cardImg"><img src="assets/Gorehub.png" alt=""></div>
                        <div class="carddetails">
                            <h3>GoreHub</h3>
                            <p>Showing CSS Skills</p>
                        </div>

                    </div>
                </a>

            </div>

        </div>

        <div class="stack">
            <h3>Stack</h3>
            <div class="gridElm">
                <div class="stackcard"><i class="fa-brands fa-html5"></i>HTML</div>
                <div class="stackcard"><i class="fa-brands fa-css3"></i>CSS</div>
                <div class="stackcard"><i class="fa-brands fa-square-js"></i>JavaScript</div>
                <div class="stackcard"><i class="fa-brands fa-react"></i>React</div>
                <div class="stackcard"><i class="fa-brands fa-node"></i>NodeJs</div>
                <div class="stackcard"><i class="fa-solid fa-database"></i>MongoDB</div>
                <div class="stackcard"><i class="fa-solid fa-server"></i>MySQL</div>
                <div class="stackcard"><i class="fa-solid fa-database"></i>PostgreSQL</div>
                <div class="stackcard"><i class="fa-brands fa-hive"></i>Web3</div>
            </div>
        </div>

        <div class="education" id="education">
            <h3>Education</h3>
            <div class="educationdiv">
                <div class="leftupEd">
                    <div>
                        <p><i class="fa-solid fa-location-dot"></i>Kurukshetra, IN</p>
                        <h4>Bachlor's of Technology</h4>
                        <p>National Institute of Technology,Kurukshetra</p>
                    </div>
                    <div class="rightupEd">
                        <p>2021-2025</p>
                    </div>
                </div>
                <br>
                <div class="pEd">
                    <p>Focused on advanced web technologies, user experience design, and front-end development.</p>
                </div>
            </div>

            <br>

            <div class="educationdiv">
                <div class="leftupEd">
                    <div>
                        <p><i class="fa-solid fa-location-dot"></i>Hisar, IN</p>
                        <h4>Class 12th in PCM</h4>
                        <p>B.D.M Sr. Sec. School, Hisar</p>
                    </div>
                    <div class="rightupEd">
                        <p>2019-2020</p>
                    </div>
                </div>
                <br>
                <div class="pEd">
                    <p>Focused on advanced web technologies, user experience design, and front-end development.</p>
                </div>
            </div>


        </div>

        

        <div class="contact" id="contact">
            <h3>Let's Talk</h3>
            <div class="contactdiv">
                <div class="leftcontact">
                    <h4>Email:</h4>
                    <a href="mailto:swamihimanshu78@gmail.com"><i
                            class="fa-solid fa-envelope"></i>Swamihimanshu78@gmail.com</a>
                    <h4>Phone</h4>
                    <a href="tel:+91 8607388082"><i class="fa-solid fa-phone"></i>(+91)86073-88082</a>
                    <h4>Socials:</h4>
                    <a href="https://www.instagram.com/coffee_pasta/" target="_blank"><i
                            class="fa-brands fa-instagram"></i>Instagram</a>
                    <br>
                    <a href="https://www.linkedin.com/in/himanshu-swami-iota/" target="_blank"><i
                            class="fa-brands fa-linkedin"></i>LinkedIn</a>
                </div>
                <div class="rightcontact">
                    <form action="/submit" method="POST">
                        <h4>Reach out:</h4>
                        <input type="text" placeholder="Your name" name="name" required>
                        <input type="email" placeholder="Your Email address" name="email" required>
                        <textarea name="message" id="message" cols="10" rows="5" placeholder="Message"
                            name="message"></textarea>
                        <button type="submit">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <%- include("partials/footer.ejs") %>

    </body>

</html>